.carouselWindow {
  height: 100%;
  width: 100%;

  overflow-x: hidden;

  position: relative;
}

.carouselWindowControlsOverlay {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
}

.carouselWindow:hover .carouselWindowControlsOverlay {
  opacity: 1;
}

.carouselWindowControls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.carouselWindowControls svg {
  width: 48px;
  height: 48px;
  cursor: pointer;
}